*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(to top left, green, lawngreen);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.hidden{
    display: none;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1.5px) brightness(40%);
    // background-color: #000;
    z-index: 1;
}

.show-modal{
    width: 200px;
    margin: 30px;
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    width: 70%;
    z-index: 10;
    
    .close-modal{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: inherit;
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
    }
    h2{
        margin-bottom: 20px;
    }
}